body {
    background: black url(https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif);
    background-repeat: none;
    background-size: cover;
}

h1 {
    color: white;
    background: gray;
    width: 500px;
    margin-left: 30%;
    text-align: center;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding-top: 10px;
}

.imagem {
    margin-left: 38%;
    padding-bottom: 20px;
}

.botao {
    color: white;
    text-align: center;
    margin-left: 43%;
    margin-top: 50px;
    background: gray;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.rei {
    margin-top: 8%;
    margin-left: 30%;
    border-radius: 100px;
}

.botao:hover {
    background: rgb(46, 46, 46);
}